USE [Test8]
GO
/****** Object:  Table [dbo].[MemberGoal]    Script Date: 2020-10-10 1:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberGoal](
	[SelectedID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectedID] ASC,
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Object]    Script Date: 2020-10-10 1:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Object](
	[ObjectID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectName] [varchar](150) NOT NULL,
	[ObjectRank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectPrimary]    Script Date: 2020-10-10 1:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectPrimary](
	[ObjectID] [int] NOT NULL,
	[PrimaryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ObjectID] ASC,
	[PrimaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrimaryTag]    Script Date: 2020-10-10 1:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrimaryTag](
	[PrimaryID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrimaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 2020-10-10 1:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](12) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[MailingAddress] [varchar](150) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](20) NULL,
	[ZipCode] [varchar](12) NULL,
	[DateOfBirth] [date] NULL,
	[Education] [varchar](5000) NULL,
	[WorkHistory] [varchar](5000) NULL,
	[EmploymentStatus] [varchar](50) NULL,
	[ManagedProfileServices] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelectedGoal]    Script Date: 2020-10-10 1:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectedGoal](
	[SelectedID] [int] IDENTITY(1,1) NOT NULL,
	[Goals] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelectedObject]    Script Date: 2020-10-10 1:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectedObject](
	[SelectObjectID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectID] [int] NULL,
	[MemberID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Object] ON 

INSERT [dbo].[Object] ([ObjectID], [ObjectName], [ObjectRank]) VALUES (1, N'$1,000,000', 239)
INSERT [dbo].[Object] ([ObjectID], [ObjectName], [ObjectRank]) VALUES (2, N'$100,000', 238)
INSERT [dbo].[Object] ([ObjectID], [ObjectName], [ObjectRank]) VALUES (3, N'per year', 237)
SET IDENTITY_INSERT [dbo].[Object] OFF
GO
INSERT [dbo].[ObjectPrimary] ([ObjectID], [PrimaryID]) VALUES (1, 1)
INSERT [dbo].[ObjectPrimary] ([ObjectID], [PrimaryID]) VALUES (2, 1)
INSERT [dbo].[ObjectPrimary] ([ObjectID], [PrimaryID]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[PrimaryTag] ON 

INSERT [dbo].[PrimaryTag] ([PrimaryID], [TagName]) VALUES (1, N'dollars')
INSERT [dbo].[PrimaryTag] ([PrimaryID], [TagName]) VALUES (2, N'duration')
INSERT [dbo].[PrimaryTag] ([PrimaryID], [TagName]) VALUES (3, N'quantity')
SET IDENTITY_INSERT [dbo].[PrimaryTag] OFF
GO
ALTER TABLE [dbo].[MemberGoal]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Registration] ([MemberID])
GO
ALTER TABLE [dbo].[MemberGoal]  WITH CHECK ADD FOREIGN KEY([SelectedID])
REFERENCES [dbo].[SelectedGoal] ([SelectedID])
GO
ALTER TABLE [dbo].[ObjectPrimary]  WITH CHECK ADD FOREIGN KEY([ObjectID])
REFERENCES [dbo].[Object] ([ObjectID])
GO
ALTER TABLE [dbo].[ObjectPrimary]  WITH CHECK ADD FOREIGN KEY([PrimaryID])
REFERENCES [dbo].[PrimaryTag] ([PrimaryID])
GO
ALTER TABLE [dbo].[SelectedObject]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Registration] ([MemberID])
GO
ALTER TABLE [dbo].[SelectedObject]  WITH CHECK ADD FOREIGN KEY([ObjectID])
REFERENCES [dbo].[Object] ([ObjectID])
GO
