USE [master]
GO
/****** Object:  Database [Test1]    Script Date: 2020-09-24 8:22:08 PM ******/
CREATE DATABASE [Test1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Test1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Test1_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test1]
GO
USE [Test1]
GO
/****** Object:  Table [dbo].[Career]    Script Date: 2020-09-24 8:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Career](
	[CareerID] [int] NOT NULL,
	[BusOppID] [int] NULL,
	[CareerName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CareerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoalsCatalog]    Script Date: 2020-09-24 8:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoalsCatalog](
	[BusOppID] [int] IDENTITY(1,1) NOT NULL,
	[BusName] [varchar](50) NOT NULL,
	[BusImageLink] [varchar](250) NOT NULL,
	[BusVideoLink] [varchar](250) NOT NULL,
	[BusCategory] [varchar](50) NOT NULL,
	[BusStatus] [varchar](50) NOT NULL,
	[CareerID] [int] NULL,
	[TradeID] [int] NULL,
	[VENTUREID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BusOppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 2020-09-24 8:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[EntrepreneurID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](12) NOT NULL,
	[Email] [varchar](50) NULL,
	[MailingAddress] [varchar](150) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](20) NOT NULL,
	[ZipCode] [varchar](12) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Education] [varchar](250) NOT NULL,
	[WorkHistory] [varchar](250) NOT NULL,
	[EmploymentStatus] [varchar](50) NOT NULL,
	[ManagedProfileServices] [varchar](50) NOT NULL,
	[Gmail] [varchar](150) NOT NULL,
	[Linkedin] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntrepreneurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trade]    Script Date: 2020-09-24 8:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trade](
	[TradeID] [int] NOT NULL,
	[BusOppID] [int] NULL,
	[TradeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venture]    Script Date: 2020-09-24 8:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venture](
	[VentureID] [int] NOT NULL,
	[VentureName] [varchar](50) NOT NULL,
	[BusOppID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Career]  WITH CHECK ADD FOREIGN KEY([BusOppID])
REFERENCES [dbo].[GoalsCatalog] ([BusOppID])
GO
ALTER TABLE [dbo].[GoalsCatalog]  WITH CHECK ADD FOREIGN KEY([CareerID])
REFERENCES [dbo].[Career] ([CareerID])
GO
ALTER TABLE [dbo].[GoalsCatalog]  WITH CHECK ADD FOREIGN KEY([TradeID])
REFERENCES [dbo].[Trade] ([TradeID])
GO
ALTER TABLE [dbo].[GoalsCatalog]  WITH CHECK ADD FOREIGN KEY([VENTUREID])
REFERENCES [dbo].[Trade] ([TradeID])
GO
ALTER TABLE [dbo].[Trade]  WITH CHECK ADD FOREIGN KEY([BusOppID])
REFERENCES [dbo].[GoalsCatalog] ([BusOppID])
GO
ALTER TABLE [dbo].[Venture]  WITH CHECK ADD FOREIGN KEY([BusOppID])
REFERENCES [dbo].[GoalsCatalog] ([BusOppID])
GO
USE [master]
GO

select * from Venture

create table customer(
customerID int identity (1,1) not null primary key,
fName varchar (50) not null,
lName varchar (50) not null,
city varchar (50) not null,
dept varchar (50) not null,
);

select * from customer;
